<%- include("partials/header"); -%>
<h1>CONTACT</h1>

<p><%= contactContent.name %></p>
<p><%= contactContent.email %></p>
<p><%= contactContent.phone %></p>
<%- include("partials/footer"); -%>
